body{
  background-color: #62c2c8;
}
.App{
  background-color: #fff;
  min-height: 90vh;
  width: 400px;
  margin: 20px auto;
}
.container{
  display: flex;
  justify-content: center;
}
.crossed{
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}

ul, li{
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

.btn{
  padding: 10px;
  border: none;
  width: 70%;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.add{
  background-color: #65aa06;
  margin-top: 5px;
}

.delete{
  background-color: #d30100;
  margin-bottom: 5px;
}

input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

img{
  border-radius: 50px;
}